# Compiled class files
target/

# IDE
.idea/
*.iml
*.iws
*.ipr

# Maven
*.jar
*.war
*.ear
*.log

# OS
.DS_Store
Thumbs.db

# Env & secrets
.env
*.env
application-dev.yml
application-local.yml
application-local.properties
.jvmconfig
/docs/
/.claude/
/CLAUDE.md
/Dockerfile
docker-compose.yml
/docs/
